{% extends 'navigation/admin/nav.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block contents %}
    <h1>Edit Categorie</h1>

    {{ include('admin/categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_index') }}">back to list</a>

    {{ include('admin/categorie/_delete_form.html.twig') }}
{% endblock %}
